<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abewy.android.apps.klyph"
    android:installLocation="preferExternal"
    android:versionCode="47"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

</manifest>